$brand-color: #102542;
$base-color: #f5fbff;
$main-color: #3581b8;
$dark-sub-color: #303030;
$sub-color: #f5f5f5;
$accent-color: #92140c;
$copyright-color: #222527;

// Breakpoints
$tablet: "(min-width: 450px)";
$mid-point: "(min-width: 620px)";
$desktop: "(min-width: 768px)";
$large-desktop: "(min-width: 1000px)";
